<p id="notice"><%= notice %></p>


<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image_url(:small) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>


<%= link_to 'Edit', edit_photo_path(@picture) %> |

